{{ define "bootstrap" }}
<html>
<head>
    <title>Tokens</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="flex justify-center">
        <div class="w-1/2 my-8"><b>Access Token</b><p class="break-all">{{ .Token.AccessToken }}</p></div>
    </div>
    <div class="flex justify-center">
        <div class="w-1/2 my-8"><b>ID Token</b><p class="break-all">{{ .Token.IDToken }}</p></div>
    </div>
    {{ if .UsePyron }}
    <a class="flex justify-center underline text-blue-600 hover:text-blue-800" href="/balance">Fetch Balance</a>
    {{ end }}
</body>
</html>
{{ end }}